/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* Upload Folder Label */
.upload-folder-label {
  font-size: 40px; /* Larger font size for "Upload Folder" */
  font-weight: bold;
  color: #333; /* Dark gray color for better visibility */
}

/* File Input */
.file-input {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 2px dashed #ccc; /* Dashed border for file input */
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.file-input:hover {
  border-color: #aaa; /* Change border color on hover */
}

/* Error Message */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}