<!-- Upload Folder -->
<nz-form-item>
  <nz-form-label [nzFor]="'uploadFolder'" nzRequired class="upload-folder-label">Upload Folder</nz-form-label>
  <nz-form-control>
    <input
      type="file"
      id="uploadFolder"
      (change)="onFileSelected($event)"
      webkitdirectory
      multiple
      accept="image/*"
      class="file-input"
    />
    <div *ngIf="imageError" class="error">{{ imageError }}</div>
  </nz-form-control>
</nz-form-item>

<app-image-table 
  [uploadedImages]="uploadedImages" 
  [brightenedImages]="brightenedImages">
</app-image-table>
